.display {
    border: 4px solid black;
}

#display-container {
    display: flex;
    width: auto;
    border-radius: 2em;
    padding: 2em;
    background-color: aliceblue;
}

#menu-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.score-display{
    width: 100%;
    display: flex;
    justify-content: center;
}

#score{
    font-weight: 800;
    font-size: x-large;
    border-style: groove;
}

#button-start{
    width: 80%;
    height: 4em;
    border-radius: 1em;
    font-size: xx-large;
}

body{
    background-color: slategray;
    display: flex;
    justify-content: center;
}